@model IEnumerable<ClinicaVeterinaria.Models.Prodotti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @Html.ActionLink("Cancella", "Rimuovi", new { id = item.IdProdotto })
        </td>
    </tr>
}

</table>

<p>Totale ordine: &euro;@Model.Sum(item => item.Prezzo) </p>
@using (Html.BeginForm("Acquista", "Carrello", FormMethod.Post))
            {
                <div>
                    <div class="input-group">
                        <span class="input-group-text">Proprietario</span>
                        <textarea id="Proprietario" name="Proprietario" required class="form-control" aria-label="With textarea"></textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Codice Fiscale</span>
                        <textarea id="CodFiscale" name="CodFiscale" required class="form-control" aria-label="With textarea"></textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Numero Ricetta</span>
                        <textarea id="NumRicetta" name="NumRicetta" required class="form-control" aria-label="With textarea"></textarea>
                    </div>
                    <input class="btn btn-primary mt-4" type="submit" value="Conferma ordine" />
                </div>
            }
